.banner__titulo {
    width: 100%;
    color: #fdfdfd;
    font-family: 'Pacifico', cursiva;
    font-size: 5.0625rem;
    position: absolute;
    left: 50%;
    text-shadow: 0 4px 4px rgb(0, 0, 0, 0.75);
    top: 50%; 
    text-align: center; 
    transform: translate(-50%, -50%);
   
}