.logo {
    background-image: url("../img/logo.jpg");
    width: 10rem;
    height: 5rem;
    background-repeat: no-repeat;
}

@media screen and (min-width: 0) {
    .logo {
        display: none;
    }
}


@media screen and (min-width: 768px) {
    .logo {
        display: block;
    }
}